// Define a variable
$primary-color: #3498db;
$secondary-color: maroon;
$subdiv-vh: 100vh;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
}

// Use the variable
.container {
    background-color: $secondary-color;
    .subdiv1 {
        height: $subdiv-vh;
        background-color: $primary-color;
    }
    .subdiv2 {
        height: $subdiv-vh;
        background-color: $primary-color;
    }
}